<?xml version="1.0"?>
<!--
/**
 * @author      WebPanda
 * @package     WebPanda_Rma
 * @copyright   Copyright (c) WebPanda (https://webpanda-solutions.com/)
 * @license     https://webpanda-solutions.com/license-agreement
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="WebPanda_Rma::config" title="WebPanda RMA Section" sortOrder="40"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Sales::sales">
                    <resource id="WebPanda_Rma::base" title="WebPanda RMA" sortOrder="400">
                        <resource id="WebPanda_Rma::rma_edit" title="Process RMA Requests" sortOrder="10" />
                        <resource id="WebPanda_Rma::statuses" title="Manage RMA Statuses" sortOrder="20" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
