body.catalog-product-view {
    .page-wrapper {
        margin: 0;
        font-size: 12px;
    }

    .breadcrumbs {

        ul {
            li {
                display: inline-block;
                color: #b1b1b1;
                text-transform: none;
                font-size: 12px;

                &:after {
                    content: '/';
                    margin: 0 5px;
                }

                a {
                    color: #b1b1b1;
                }

                &:last-of-type {
                    color: #000;
                    font-family: "Neue Haas Grotesk Text Medium";

                    &:after {
                        content: '';
                    }
                }
            }
        }
    }

    .page-main {
        max-width: 1920px;
        display: block;

        .product-info-main {
            margin: 0;

            .column-left {
                .product.media {
                    .gallery-wrapper {
                        text-align: center;
                        position: relative;
                        margin-left: 0;

                        > div {
                            display: grid;
                            grid-gap: 5px;
                            grid-template-areas: 'item1 item2' 'item3 item4' 'item5 item6' 'item7 item8' 'item9 item10' 'item11 item12' 'item13 item14' 'item15 item16''item17 item18' 'item19 item20';

                            &.layout-1-item {
                                grid-template-areas: 'item1';
                            }

                            &.layout-2-item {
                                grid-template-areas: 'item1' 'item2';
                            }

                            &.layout-3-item {
                                grid-template-areas: 'item1 item2' 'item3 item3';
                            }

                            &.layout-4-item {
                                grid-template-areas: 'item1 item2' 'item3 item4';
                            }

                            &.layout-5-item {
                                grid-template-areas: 'item1 item1 item1 item2 item2 item2' 'item3 item3 item4 item4 item5 item5';
                            }

                            &.layout-6-item {
                                grid-template-areas: 'item1 item2' 'item3 item4' 'item5 item6';
                            }

                            &.layout-7-item {
                                grid-template-areas: 'item1 item1 item1 item2 item2 item2' 'item3 item3 item3 item4 item4 item4' 'item5 item5 item6 item6 item7 item7';
                            }


                            &.layout-8-item {
                                grid-template-areas: 'item1 item2' 'item3 item4' 'item5 item6' 'item7 item8';
                            }

                            &.layout-9-item {
                                grid-template-areas: 'item1 item1 item1 item2 item2 item2' 'item3 item3 item3 item4 item4 item4' 'item5 item5 item5 item6 item6 item6' 'item7 item7 item8 item8 item9 item9';
                            }


                            .gallery-item {
                                width: auto;

                                img {
                                    width: 100%;
                                }

                                &-1 {
                                    grid-area: item1;
                                }

                                &-2 {
                                    grid-area: item2;

                                    img {
                                        margin: 0 auto;
                                    }
                                }

                                &-3 {
                                    grid-area: item3;
                                }

                                &-4 {
                                    grid-area: item4;
                                }

                                &-5 {
                                    grid-area: item5;
                                }

                                &-6 {
                                    grid-area: item6;
                                }

                                &-7 {
                                    grid-area: item7;
                                }

                                &-8 {
                                    grid-area: item8;
                                }

                                &-9 {
                                    grid-area: item9;
                                }

                                img {
                                    margin: 0 auto;
                                    cursor: zoom-in;
                                }

                            }

                        }

                    }
                }
            }


            .column-right {
                position: relative;

                .sticky-container {
                    position: sticky;
                    top: 120px;
                    margin-bottom: 50px;
                    height: fit-content;
                }

                .product-info-wrapper {
                    border-bottom: 1px solid #d9d9d9;
                    padding-bottom: 10px;
                    margin-bottom: 10px;

                    .page-title-wrapper {
                        h1.page-title {
                            display: block;
                            padding-right: 180px;
                            line-height: 0.5;

                            span {
                                font-family: "Neue Haas Grotesk Text Medium";
                                font-size: 16px;
                                font-weight: normal;
                                line-height: 0;
                                letter-spacing: 0.8px;
                                color: #000000;
                            }
                        }
                    }

                    a {
                        font-size: 12px;
                        color: #a9a9a9;
                    }
                }

                .product-info-price {
                    position: absolute;
                    top: 13px;
                    right: 10px;
                    font-family: "Neue Haas Grotesk Text Medium";
                    text-align: right;

                    .price-box {
                        font-size: 18px;
                        line-height: 0.94;
                        letter-spacing: 0.64px;

                        .normal-price {
                            color: #000;
                        }

                        .old-price {
                            color: #8f8e8e;
                            text-decoration: line-through;
                            margin-right: 15px;
                        }

                        .special-price {
                            color: #ef1616;
                        }
                    }
                }

                .overview {
                    .value {
                        font-family: "Neue Haas Grotesk Text Display";
                        font-size: 12px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.5;
                        letter-spacing: 1.2px;
                        text-align: left;
                        color: #000;
                        margin-bottom: 10px;

                        p {
                            font-family: "Neue Haas Grotesk Text Display";
                            font-size: 12px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.5;
                            letter-spacing: 1.2px;
                            text-align: left;
                            color: #000;
                            margin-bottom: 0;
                        }
                    }
                }

                .product-colors {
                    span {
                        text-transform: uppercase;
                        font-family: "Neue Haas Grotesk Text Medium";

                        &.product-color-label {
                            font-family: "Neue Haas Grotesk Text Medium";
                            text-transform: initial;
                            color: #bcbbbb;
                        }
                    }

                    .colors-row {
                        margin: 10px 0 30px 0;

                        li.col {
                            max-width: 50px;
                            max-height: 50px;
                            padding: 0;
                            margin: 0 5px;

                            &:first-of-type {
                                margin-left: 0;
                            }

                            &.selected {
                                border: 2px solid black;
                            }

                            img {
                                width: 100%;
                            }
                        }
                    }
                }

                .product-add-form {
                    .product-options-wrapper {
                        position: relative;

                        .swatch-opt {
                            .size {
                                .swatch-attribute-label {
                                    font-family: "Neue Haas Grotesk Text Medium";
                                    text-transform: uppercase;
                                }

                                .swatch-attribute-selected-option {
                                    display: none;
                                }

                                .swatch-attribute-options {
                                    display: flex;
                                    flex-wrap: wrap;
                                    margin: 10px 0;

                                    .swatch-option {
                                        min-width: 40px;
                                        height: 40px;
                                        border-radius: 10px;
                                        border: solid 1px #212121;
                                        background-color: #fff;
                                        line-height: 40px;
                                        text-align: center;
                                        font-size: 12px;
                                        cursor: pointer;
                                        margin: 2px 5px 2px 0;
                                        padding: 0 5px;

                                        &.selected {
                                            color: #fff;
                                            background-color: #413c3c;
                                        }

                                        &.disabled {
                                            color: #c0c0c0;
                                            position: relative;
                                            border: 1px solid silver;

                                            &:after {
                                                content: '';
                                                position: absolute;
                                                height: 1px;
                                                width: 47px;
                                                transform: rotate(-45deg);
                                                bottom: 47%;
                                                left: -5px;
                                                background-color: silver;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .size-guide-container {
                            position: absolute;
                            right: 10px;
                            top: -2px;
                            text-align: right;

                            a {
                                font-size: 12px;
                                text-decoration: underline;
                            }
                        }
                    }

                    .product-options-bottom {
                        margin-top: 30px;

                        .box-tocart {
                            .qty {
                                display: none;
                            }

                            .actions {
                                display: flex;

                                .tocart {
                                    width: 100%;
                                    height: 45px;
                                    border-radius: 10px;
                                    background-color: #413c3c;
                                    text-align: center;
                                    color: #fdfdfd;
                                    font-size: 14px;
                                }

                                .product-social-links {
                                    width: 20%;
                                    max-width: 38px;
                                    margin-left: 20px;
                                    margin-right: 20px;

                                    .product-addto-links {
                                        padding-top: 5px;
                                    }

                                    a.towishlist {
                                        height: 38px;
                                        line-height: 38px;
                                        text-align: center;
                                        display: block;
                                        transform: rotate(-45deg);
                                        background-color: #8f8e8e;
                                        border-radius: 10px;

                                        i {
                                            transform: rotate(45deg);
                                            line-height: 38px;
                                            color: #fff;

                                            &:before {
                                                font-size: 16px;
                                                line-height: 38px;
                                            }
                                        }
                                    }
                                }

                                .pick-up-link {
                                    font-size: 12px;
                                    text-decoration: underline;
                                }
                            }
                        }

                        .used-for-block {
                            margin-top: 30px;


                            ul {
                                padding-left: 0;
                                list-style: none;
                                margin-right: -20px;
                                margin-left: 0;

                                li.col {
                                    margin-left: 0;
                                    width: fit-content;
                                    max-width: fit-content;
                                    padding-left: 0;
                                    padding-right: 0;
                                    margin-left: -22px;
                                    margin-right: 10px;

                                    img {
                                        width: 100px;

                                    }

                                    span {
                                        font-family: "Neue Haas Grotesk Text Pro Medium";
                                        font-weight: bold;
                                        display: none;
                                    }
                                }
                            }
                        }

                        .product-info {
                            width: 100%;
                            margin-top: 20px;

                            .product-info-section {
                                cursor: pointer;
                                padding: 20px 0;
                                border-bottom: 1px solid #d9d9d9;
                                position: relative;

                                &:after {
                                    position: absolute;
                                    right: 0;
                                    top: 20px;
                                    display: inline-block;
                                    -webkit-font-smoothing: antialiased;
                                    font-size: 18px;
                                    line-height: 20px;
                                    content: "\e902";
                                    font-family: 'icomoon';
                                    margin-right: 15px;
                                    transition: 0.1s;
                                    transform: rotate(-90deg);

                                }

                                span {
                                    text-transform: uppercase;
                                    color: black;
                                    font-size: 12px;
                                    line-height: 1;
                                    letter-spacing: 0.6px;

                                    &.label {
                                        font-family: "Neue Haas Grotesk Text Medium";
                                    }
                                }

                                div {
                                    display: none;
                                    opacity: 0;
                                    transition: 0.5s;

                                }


                                &.active {
                                    div {
                                        display: block;
                                        margin-top: 15px;
                                        opacity: 1;
                                        transition: 0.5s;

                                        &.technology-container {
                                            display: flex;
                                            align-items: center;
                                            vertical-align: middle;
                                            -webkit-justify-content: center;
                                            -webkit-align-content: center;
                                            -webkit-align-items: center;

                                            .image-container {
                                                width: fit-content;
                                                max-width: fit-content;

                                                .technology-image {
                                                    width: 120px;
                                                    max-width: 100%;
                                                }
                                            }

                                            .text-container {
                                                .technology-name {
                                                    font-family: "Neue Haas Grotesk Text Pro Medium";
                                                    font-weight: bold;
                                                }
                                            }

                                            .technology-description {
                                                color: #495057;
                                            }
                                        }

                                        p {
                                            font-family: "Neue Haas Grotesk Text Display";
                                            font-size: 12px;
                                            font-weight: 400;
                                            font-stretch: normal;
                                            font-style: normal;
                                            line-height: 1.5;
                                            letter-spacing: 1.2px;
                                            text-align: left;
                                            color: #000;
                                            margin-bottom: 15px;
                                            padding-right: 40px;
                                        }
                                    }

                                    &:after {
                                        transition: 0.1s;
                                        transform: unset;
                                    }
                                }

                                ul {
                                    list-style: disc;
                                    font-family: "Neue Haas Grotesk Text Display";
                                    font-size: 12px;
                                    font-weight: 400;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 1.5;
                                    letter-spacing: 1.2px;
                                    text-align: left;
                                    color: #000;
                                    margin-bottom: 15px;

                                    li {
                                        font-family: "Neue Haas Grotesk Text Display";
                                        font-size: 12px;
                                        font-weight: 400;
                                        font-stretch: normal;
                                        font-style: normal;
                                        line-height: 1.5;
                                        letter-spacing: 1.2px;
                                        text-align: left;
                                        color: #000;
                                        margin-left: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .related-products {
            padding: 0 15px;
            margin-top: 20px;
            margin-bottom: 50px;

            .label {
                font-size: 14px;
                margin-bottom: 40px;
                color: #000;
                display: block;
                font-family: "Neue Haas Grotesk Text Medium";
            }

            .related-product, .upsell-product {
                position: relative;

                img {
                    width: 100%;
                }

                .colors {
                    display: block;
                    margin: 10px 0;
                }

                .price-box {
                    span {
                        display: inline-flex;
                        vertical-align: middle;

                        &.old-price {
                            margin-right: 2px;

                            span {
                                color: #c9c9c9;
                                text-decoration: line-through;

                            }
                        }

                        &.special-price {
                            span {
                                color: #dc1919;
                            }
                        }
                    }
                }

                span {
                    letter-spacing: 1.2px;

                    &.current-color {
                        width: 23px;
                        height: 18px;
                        display: inline-block;
                        border-radius: 9px;
                        vertical-align: middle;
                        margin-right: 5px;

                        &.white {
                            border: 1px solid black;
                        }
                    }

                    &.more-colors {
                        color: #8d8d8d;
                        text-transform: uppercase;
                        line-height: 1;
                        min-width: 50px;
                        font-size: 12px;
                        font-family: 'Neue Haas Grotesk Text Pro';
                        vertical-align: middle;
                    }

                    &.name {
                        font-size: 12px;
                        color: #000;
                    }

                    &.price {
                        display: block;
                        font-family: "Neue Haas Grotesk Text Medium";
                    }


                    &.label-percent {
                        position: absolute;
                        top: 10px;
                        width: 70px;
                        border-bottom-left-radius: 10px;
                        border-top-left-radius: 10px;
                        right: 15px;
                        font-size: 16px;
                        color: white;
                        background: #dc1212;
                        font-weight:600;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;

                    }
                }
            }
        }
    }
}


@include media-breakpoint-down(md) {
    body.catalog-product-view {
        .page-main {
            padding: 0;
            margin-top:75px;
            display: block;

            .container {
                float: none;

                .column.main {
                    .product-info-main {
                        .column-right {
                            .product-info-wrapper {
                                .page-title-wrapper {
                                    h1.page-title {
                                        line-height: 0.6;
                                        padding-right: 80px;
                                    }
                                }
                            }

                            .product-info-price {
                                right: 15px;

                                .price-box {
                                    font-size: 18px;
                                    line-height: .94;
                                    letter-spacing: .64px;

                                    .old-price {
                                        margin-right: 0;
                                    }

                                    .special-price {
                                        display: block;
                                        margin-top: 8px;
                                    }
                                }
                            }
                        }
                    }

                    .related-products {
                        button.slick-next {
                            right: 0;
                        }
                    }
                }
            }
        }
    }
}


@include media-breakpoint-down(sm) {
    body.catalog-product-view {
        .page-wrapper {
            header.page-header {
                border: none;
                background-color: transparent;

                .header.content {
                    background-color: transparent;

                    .logo {
                        img {
                            display: none;
                        }
                    }

                    .menu-mobile {
                        display: none;
                    }

                    .back {
                        display: block !important;
                    }
                }
            }
        }

        .page-main {
            margin-top:75px;
            padding: 0;
            display: block;

            .container {
                padding: 0;
                float: none;
                margin-top: 20px;
            }

            .product-info-main {
                overflow: hidden;
                .column-left {

                    .product.media {
                        margin-left: -15px;
                        margin-right: -15px;

                        .gallery-wrapper {
                            display: block;
                            width: 100%;


                            .gallery-items {
                                display: block;
                            }

                            div {
                                grid-template-areas: initial;
                            }
                        }
                    }
                }

                .column-right {

                    .sticky-container {
                        position: static;
                        top: initial;
                    }

                    .product-info-wrapper {
                        .page-title-wrapper {
                            h1.page-title {
                                line-height: 0.6;
                                padding-right: 80px;
                            }
                        }
                    }

                    .product-info-price {
                        right: 0;

                        .price-box {
                            font-size: 18px;
                            line-height: .94;
                            letter-spacing: .64px;

                            .old-price {
                                margin-right: 0;
                            }

                            .special-price {
                                display: block;
                                margin-top: 8px;
                            }
                        }
                    }

                    .product-add-form {
                        .product-options-wrapper {
                            .swatch-opt {
                                .size {
                                    .swatch-attribute-options {
                                        padding: 0;
                                    }
                                }
                            }
                        }

                        .product-options-bottom {
                            margin-bottom: 40px;
                        }
                    }
                }
            }
        }
    }
}
