<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 Magmodules.eu. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magmodules\GoogleShopping\Logger\GoogleShoppingHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Magmodules\GoogleShopping\Logger\GoogleShoppingLogger">
        <arguments>
            <argument name="name" xsi:type="string">GoogleShopping</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Magmodules\GoogleShopping\Logger\GoogleShoppingHandler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="GoogleShoppingFeedGenerate" xsi:type="object">Magmodules\GoogleShopping\Console\Command\FeedGenerate</item>
                <item name="GoogleShoppingConfig" xsi:type="object">Magmodules\GoogleShopping\Console\Command\Config</item>
            </argument>
        </arguments>
    </type>
</config>