<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Seonov. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="Seonov_Slider::seonov_seonovslider_index" title="Slider" module="Seonov_Slider"  sortOrder="88" dependsOnModule="Seonov_Slider" action="slider/seonovslider/index" resource="Seonov_Slider::seonov_seonovslider_index"/>
<!--AddMenu-->
    </menu>
</config>
